html {
    font-size: $global-font-size;
}
body{
    font-family: $font-family;
    background-color: $black;
    color: $white;
    line-height: 1.5rem;
    letter-spacing: 1px;
    text-align: justify;
}
input{
    color: $black;
}
.text-align-center{
    text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}
h1 {
    font-size: 1.5rem;
    line-height: 44px;
    margin-top: 0px;
    margin-bottom: 0;
    letter-spacing: 6px;
    word-spacing: 10px;
}
a{
    color: $white;
    text-decoration: underline;
    font-weight: bold;
    &.social-icons {
        margin: 15px;
    }
}
.page-content{
    max-width: $max-document-width;
    margin: 0 auto;
    width: 100%;
    min-height:100vh;
    display: flex;
    padding: 20px 0;
}
.container {
    display: flex;
    width: 100%;
    max-width: $max-document-width;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding-right: 20px;
    padding-left: 20px;  
}
.row{
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    
    flex-wrap: wrap;
    margin-bottom: 30px;
    @media (min-width: 1024px){
    margin-right: -20px;
    margin-left: -20px;
    // flex-wrap: nowrap;
    flex-direction: row;
    }

}
.align-item-center{
    align-items: center !important;
}
.justify-content-center{
    justify-content: center !important;
}
[class*=col-]{
    position: relative;
    width: 100%;
    min-height: 1px;
    @media (min-width: 1024px){
        padding-right: 20px;
        padding-left: 20px;
    }
}
.col{
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    &-12{
        -ms-flex: 0 0 100%;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    &-md{
        &-6{
            @media (min-width: 1024px){
                -ms-flex: 0 0 50%;
                -webkit-box-flex: 0;
                -webkit-flex: 0 0 50%;
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
    }
}

.subscribe-form{
    text-align: center;
    .message{
        color: #FE3000;
        margin: 0 0 20px;
        text-align: center;
    }
    .form-row-group{
        display: flex;
        margin: 0 -10px 20px;
        text-align: left;
        .form-row{
            width: 100%;
            padding: 0 10px;
            span{
                display: block;
                margin-bottom: 10px;
            }
            input{
                width: 100%;
                border: 1px solid $white;
                background-color: transparent;
                color: $white;
                padding: 10px 5px;
                border-radius: 5px;
                &:focus::placeholder {
                    color: transparent;
                  }
                  
            }
            ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: $white;
                opacity: 1; /* Firefox */
              }
              
              :-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: $white;
              }
              
              ::-ms-input-placeholder { /* Microsoft Edge */
                color: $white;
              }
              input:focus::placeholder {
                color: transparent;
              }
              input:focus::-webkit-input-placeholder { color:transparent; }
            input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
            input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
            input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */
        }
    }
    button{
        border: 1px solid $white;
        background-color: transparent;
        color: $white;
        padding: 10px;
        border-radius: 5px;
        &:hover{
            background-color: $white;
            color: $black;
        }
    }
}